@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kalam:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
}

/* Titulos */
.titulo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: "Kalam", cursive;
    font-weight: 400;
    color: #464040;
    position: fixed;
    left: 230px;
    width: calc(100% - 230px);
    background-color: #F7F7F7;
    padding: 20px 30px;
    border-bottom: 0px hidden;
}

.titulo h1 {
    font-family: Poppins;
    margin: 0;
}

.subtitulo{
    color: #73553D;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
}
/* Fim dos Titulos */

/* Estante  */
.estanteContainer {
    margin-top: 100px;
    margin-left: 250px;
    margin-right: 1%;
    border-radius: 14px;
    background: #F7EEE4;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 
                0px 2px 30px 2px rgba(215, 181, 142, 0.40) inset, 
                0px 2px 100px 10px rgba(160, 71, 103, 0.15) inset;
    width: 90%; 
    max-width: 1050px;
    height: auto;

    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-start; 
    gap: 16px; 
}

.books-container {
    font-size: 28px;
    margin-top: 5px;
    color: #1d1414;
    font-weight: 600;
}

.bookEstante {
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    background-color: #ffffff;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    max-width: 150px; 
    max-height: 250px; 
    margin: 8px; 
    
    box-shadow: -20px 0px 35px 0px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    outline: none;
}

.bookEstante img {
    width: 100%; 
    height: 100%; 
    object-fit: fill; 
    border-radius: 5px;
}

.see-moreEstante {
    text-decoration: none;
    color: #464040;
    margin-right: -15%;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
}

.see-moreEstante:hover {
    text-decoration: underline;
}

.retangulo{
    border-radius: 10px;
    background-color: black;
    width: 99%;
    height: 25px;
    border-radius: 5px;
    background: #F7EEE4;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), -3px 4px 10px 0px rgba(0, 0, 0, 0.10), 0px 0px 15px 0px #E7C1DB inset;
    margin: 0.1%;
}